h1{
  color: #333435;
  text-align: center;
}
body{
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  background-color: #E6E6E6;
}
#head{
  margin-top: 20px;
  text-align: center;
}
a.head{
  background-color: #777777;
  padding: 5px 15px 5px 15px;
  margin: 50px 5px 30px 0;
  height: 40px;
  font-size: 20px;
  text-decoration:none;
}

a.head:link{
  color: #FFFFFF;
}

a.head:hover{
    color: #000000;
}

a.head:checked{
  color:#000000;
}

a.head:active{
  color:#FFFFFF;
}

a.cont:link{
  color: #5e1818;
}
a.cont:hover{
  color: #5e1818;
}

a.cont:checked{
  color: #5e1818;
}

.intro{
  border-radius: 15px;
  border: 5px 5px 5px 5px;
  border-style: solid;
  border-color: #C8C8C8;
  margin: 10px 0 10px 0;
  height: 40px;

  padding-left: 5px;
  padding-right: 15px;
}

p{
  color: #333435;
}

#page-wrapper{
  background-color: #FFFFFF;
  margin: 40px 0 40px 0;
  padding: 10px 20px 50px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
  font-family: "맑은 고딕";
}

#main-section{
  float: left;
  padding-left: 50px;
  width: 500px;
}

#main-aside{
  float: right;
  padding-right: 50px;
  width: 200px;
}

#content{
  overflow: hidden;
}


.card-container {
  cursor: pointer;
  perspective: 600;
  width: 150px;
  height: 100px;
  position: relative;
  margin-left: 10px;
}

.card {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
}
.card:hover {
  transform: rotateX(180deg);
}
.card .side {
  backface-visibility: hidden;
  border-radius: 6px;
  height: 100%;
  position: absolute;
  overflow: hidden;
  width: 100%;
}
.card .back {
  background: #eaeaed;
  color: #333435;
  line-height: 75px;
  text-align: center;
  transform: rotateX(180deg);
}
